/*-------------------- GLOBAL PROPERTIES --------------------*/

:root
{
    --bg-orange: rgb(255, 220, 174);
    --bg-pink: rgb(193, 138, 208);
    --menu-white: rgba(255, 255, 255, 0.5);
    --menu-black: rgba(0, 0, 0, 0.3);
    --vice-blue: rgb(91, 208, 234);
    --vice-mint: rgb(5,185,117);
    --vice-pink: rgb(249, 127, 190);
    --vice-white:  rgb(249, 249, 249);
    --vice-orange: rgb(250, 219, 66);

    --font-printed: 'Alfa Slab One', cursive;
    --font-hand-written: 'Mrs Sheppards', cursive;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html
{
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body
{
    align-items: center;
    background: linear-gradient(90deg, var(--bg-orange), var(--bg-pink));
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

header
{
    color: var(--vice-white);
    font-family: var(--font-hand-written);
    font-size: 2.2rem;
    position: absolute;
    left: 2%;
    top: 8%;
    text-shadow: -2px 0 var(--vice-pink), 0 2px var(--vice-pink),
    2px 0 var(--vice-pink), 0 -2px var(--vice-pink);
    transform: rotate(-20deg);
}

main
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button
{
    cursor: pointer;
}

/*-------------------- WHEEL OF FORTUNE --------------------*/

.game
{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    max-height: 75vh;
    max-width: 75vh;
    position: relative;
    width: 500px;
    z-index: 1;
}

.game__pointer
{
    align-self: flex-start;
    color: var(--bg-orange);
    font-size: 4rem;
    position: absolute;
    top: -1.2rem;
    transform: rotate(90deg);
    z-index: 2;
}

.game__wheel
{   
    border: 8px solid var(--bg-pink);
    border-radius: 100%;
    height: 100%;
    width: 100%;
    transition: all 5s;
}

/*-------------------- PROPERTIES DEPENDING ON THE NUMBER OF PLAYERS --------------------*/

.game__wheel--two-players
{
    background: repeating-conic-gradient(var(--vice-pink) 0deg 30deg, var(--vice-white) 30deg 60deg);
}

.game__wheel--three-players
{
    background: repeating-conic-gradient(var(--vice-blue) 0deg 30deg, var(--vice-white) 30deg 60deg, var(--vice-pink) 60deg 90deg);
}

.game__wheel--four-players
{
    background: repeating-conic-gradient(var(--vice-blue) 0deg 30deg, var(--vice-white) 30deg 60deg, var(--vice-pink) 60deg 90deg, var(--vice-orange) 90deg 120deg);
}

.game__wheel--five-players
{
    background: repeating-conic-gradient(var(--vice-blue) 0deg 30deg, var(--vice-white) 30deg 60deg, var(--vice-pink) 60deg 90deg, var(--vice-mint) 90deg 120deg, var(--vice-orange) 120deg 150deg);
}

/*-------------------- PLAY / SPIN BUTTON --------------------*/

.play
{
    aspect-ratio: 1/1;
    background: linear-gradient(90deg, var(--vice-pink),var(--vice-orange));
    border: none;
    border-radius: 100%;
    padding: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
}

.play__spin
{
    color: var(--vice-white);
    display: inline-block;
    font-family: var(--font-hand-written);
    font-size: 3.2rem;
    text-shadow: -2px 0 var(--vice-pink), 0 2px var(--vice-pink),
    2px 0 var(--vice-pink), 0 -2px var(--vice-pink);
    transform: rotate(-30deg);
}

/*-------------------- NAVI --------------------*/

.navi
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    right: 12px;
}

.navi__icon
{
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.471);
    font-size: 4.4rem;
    transition: all 1s;
}

.navi__icon:hover
{
    color: rgb(255, 255, 255);
}

/*-------------------- SCORE MENU --------------------*/

.score
{
    align-items: center;
    background: var(--menu-black);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    z-index: 3;
}

.score__info
{
    color: var(--vice-white);
    font-family: var(--font-hand-written);
    font-size: 2.8rem;
    text-shadow: -2px 0 var(--vice-pink), 0 2px var(--vice-pink),
    2px 0 var(--vice-pink), 0 -2px var(--vice-pink);
}

.score__player
{
    font-family: var(--font-printed);
    font-size: 1.4rem;
}

.score__nav
{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav__scores
{
    border: none;
    border-radius: 5px;
    font-family: var(--font-printed);
    font-size: 1.2rem;  
    margin-bottom: 12px;
    padding: 12px 0;
    width: 45%;
}

.nav__scores--restore
{
    background: var(--vice-blue);
}

.nav__scores--close
{
    background: var(--vice-pink);
}

/*-------------------- SETTINGS MENU --------------------*/

.settings
{
    align-items: center;
    background: var(--menu-white);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    z-index: 3;
}

.settings__info
{
    color: var(--vice-white);
    font-family: var(--font-hand-written);
    font-size: 2.8rem;
    text-shadow: -2px 0 var(--vice-pink), 0 2px var(--vice-pink),
    2px 0 var(--vice-pink), 0 -2px var(--vice-pink);
}

.players-num
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.players-num__name
{
    font-family: var(--font-printed);
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.players-num__set
{
    background: none;
    border: none;
    font-size: 2.8rem;
}

.players-num__set--remove
{
    color: var(--vice-pink);
}

.players-num__set--add
{
    color: var(--vice-mint);
}

.players-num__number
{
    color: var(--vice-blue);
    font-family: var(--font-printed);
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0 40px;
}

.settings__rename-player
{
    background: var(--vice-blue);
    border: none;
    border-radius: 5px;
    font-family: var(--font-printed);
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    padding: 5px 0;
    text-align: center;
    width: 40%;
}

.settings__close
{
    background: var(--vice-pink);
    border: none;
    border-radius: 5px;
    font-family: var(--font-printed);
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    padding: 5px 0;
    text-align: center;
    width: 40%;
}

/*-------------------- RENAME MENU --------------------*/

.rename
{
    align-items: center;
    background: var(--menu-white);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    z-index: 3;
}

.rename__characters
{
    width: 80%;
}

.rename__info
{
    color: var(--vice-white);
    font-family: var(--font-hand-written);
    font-size: 2.8rem;
    text-shadow: -2px 0 var(--vice-pink), 0 2px var(--vice-pink),
    2px 0 var(--vice-pink), 0 -2px var(--vice-pink);
}

.characters__player
{
    align-items: center;
    display: flex;
    margin: 12px;
    justify-content: center;
    font-family: var(--font-printed);
    font-size: 1.6rem;
}

.player__previous
{
    left: 12%;
    position: absolute;
    width: 10%;
}

.player__new
{
    background: var(--menu-black);
    border: none;
    border-radius: 5px;
    cursor: text;
    font-family: var(--font-printed);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 12px;
    padding: 5px 0px;
    text-align: center;
    text-shadow: none;
}

.player__new--pink:focus
{
    outline: 2px solid var(--vice-pink);
}

.player__new--white:focus
{
    outline: 2px solid var(--vice-white);
}

.player__new--blue:focus
{
    outline: 2px solid var(--vice-blue);
}

.player__new--orange:focus
{
    outline: 2px solid var(--vice-orange);
}

.rename__nav
{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav__rename
{
    border: none;
    border-radius: 5px;
    font-family: var(--font-printed);
    font-size: 1.2rem;  
    margin-bottom: 12px;
    padding: 5px 0;
    width: 45%;
}

.nav__rename--restore
{
    background: var(--vice-blue);
}

.nav__rename--close
{
    background: var(--vice-pink);
}

/*-------------------- WINNER --------------------*/

.winner
{
    align-items: center;
    background: rgba(255, 255, 255, 0.303);
    bottom: -10%;
    display: flex;
    height: 10%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.winner__is
{
    font-family: var(--font-printed);
    font-size: 2rem;
}

/*-------------------- DECORATION --------------------*/

.palm
{
    bottom: -50%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    width: 140%;
    z-index: -1;
}

/*-------------------- COLORS --------------------*/

.pink
{
    color: var(--vice-pink);
    text-shadow: -1px 0 var(--vice-white), 0 1px var(--vice-white),
    1px 0 var(--vice-white), 0 -1px var(--vice-white);
}

.white
{
    color: var(--vice-white);
    text-shadow: -1px 0 var(--vice-pink), 0 1px var(--vice-pink),
    1px 0 var(--vice-pink), 0 -1px var(--vice-pink);
}

.blue
{
    color: var(--vice-blue);
    text-shadow: -1px 0 var(--vice-pink), 0 1px var(--vice-pink),
    1px 0 var(--vice-pink), 0 -1px var(--vice-pink);
}

.orange
{
    color: var(--vice-orange);
    text-shadow: -1px 0 var(--vice-white), 0 1px var(--vice-white),
    1px 0 var(--vice-white), 0 -1px var(--vice-white);
}

.mint
{
    color: var(--vice-mint);
    text-shadow: -1px 0 var(--vice-white), 0 1px var(--vice-white),
    1px 0 var(--vice-white), 0 -1px var(--vice-white);
}

/*-------------------- MEDIA QUERRIES --------------------*/

@media (max-width: 1000px) and (orientation: landscape)
{
    header
    {
        font-size: 1.4rem;
    }

    .game__wheel
    {
        border: 4px solid rgb(255, 174, 216);
    }

    .game__pointer
    {
        font-size: 3rem;
        top: -1rem;
    }

    .play
    {
        padding: 8px;
    }

    .play__spin
    {
        font-size: 2rem;
    }

    .navi__icon
    {
        font-size: 3rem;
    }

    .characters__player
    {
        margin: 8px;
        font-size: 1.2rem;
    }

    .palm
    {
        bottom: -45%;
        width: 150%;
    }
}

@media (orientation: portrait)
{
    header
    {
        font-size: 1.4rem;
        top: 4%;
    }

    .game
    {
        height: auto;
        max-height: 90vw;
        max-width: 90vw;
    }

    .game__wheel
    {
        border: 4px solid rgb(255, 174, 216);
    }

    .game__pointer
    {
        font-size: 3rem;
        top: -1rem;
    }

    .play
    {
        padding: 8px;
    }

    .play__spin
    {
        font-size: 2rem;
    }

    .navi
    {
        flex-direction: row;
        height: auto;
        justify-content: space-evenly;
        margin-top: 36px;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
    }

    .navi__icon
    {
        font-size: 3rem;
    }

    .score__nav
    {
        width: 80%;
    }

    .settings__rename-player
    {
        width: 70%;
    }

    .settings__close
    {
        width: 70%;
    }

    .characters__player
    {
        flex-direction: column;
    }

    .player__previous
    {
        left: 0;
        position: relative;
        text-align: center;
        width: 80%;
    }

    .player__new
    {
        width: 80%;
    }

    .rename__nav
    {
        width: 80%;
    }

    .palm
    {
        bottom: -10%;
    }
}

/*-------------------- ANIMATIONS --------------------*/

@keyframes spin-size 
{
    0% {scale: 1;}
    20% {scale: 1.2;}
    40% {scale: 1;}
    100% {scale: 1;}
}

.spin-size
{
    animation: spin-size 6s linear 1s infinite;
}

@keyframes show-winner 
{
    0% {bottom: -10%;}
    100% {bottom: 0;}
}

.show-winner
{
    animation: show-winner 1.5s linear;
    animation-fill-mode: forwards;
}

/*-------------------- HIDDEN --------------------*/

.hidden
{
    display: none;
}