
.icon-cog:before { content: '\e801'; } /* '' */
.icon-clipboard:before { content: '\e802'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
